[Dialer Defaults]
#Init1 = AT+CPIN=0000
Init2 = ATZQ0 V1 E1 S0=0
Init3 = AT+CGDCONT=1,"IP","@apn@"
Username = ''
Password = ''
Dial Command = ATDT
Baud = 460800
ISDN = 0
Modem = @modem_port@
Modem Type = Analog Modem

[Dialer ConnectLite]
Phone = @phone@
Stupid Mode = 1
