Source: moxa-cellular-utils
Section: net
Priority: optional
Maintainer: Aeluin Chen <aeluin.chen@moxa.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.moxa.com/
#Vcs-Git: git://anonscm.debian.org/collab-maint/uc8100me-cellular-utils.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/uc8100me-cellular-utils.git;a=summary

Package: moxa-cellular-utils
Architecture: all
Depends: ${misc:Depends},
         moxa-at-cmd,
         udhcpc,
         libqmi-utils (>= 1.16.2),
         libqmi-proxy (>= 1.16.2),
         wvdial,
         gawk,
         bc
Description: Cellular modem utility on Moxa computer.

Package: moxa-cellular-signald
Architecture: all
Depends: ${misc:Depends}, moxa-cellular-utils (>= 2.0.0)
Description: Light signal LED for Cellular modem on Moxa computer.
