[Unit]
Description=Moxa cellular signal service
After=network.target syslog.target moxa-cellular-utils.service

[Service]
Type=simple
ExecStart=/usr/sbin/cell-signald
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
