[Unit]
Description=Moxa cellular management initial service
After=network.target syslog.target rsyslog.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/cell_mgmt initialize all
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
